altair
blinker
cachetools
certifi
charset-normalizer
click
dataclasses-json
faiss-cpu
filelock
fsspec
gitdb
GitPython
h11
httpcore
httpx
httpx-sse
huggingface-hub
idna
Jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
MarkupSafe
marshmallow
multidict
numpy
openai
orjson
packaging
pandas
pillow
protobuf==3.20.*
pyarrow
pydantic
pydantic-settings
pydantic_core
pydeck
PyPDF2
python-dateutil
python-dotenv
pytz
PyYAML
referencing
regex
requests
requests-toolbelt
rpds-py
sentence-transformers
six
smmap
sniffio
SQLAlchemy
streamlit==1.25.0
tenacity
toml
tornado
tqdm
transformers
typing-inspect
typing-inspection
typing_extensions
tzdata
urllib3
yarl
zstandard
