aiohttp
aiosignal
altair
anyio
async-timeout
attrs
blinker
cachetools
certifi
charset-normalizer
click
dataclasses-json
distro
exceptiongroup
faiss-cpu
filelock
frozenlist
fsspec
gitdb
GitPython
h11
httpcore
httpx
httpx-sse
huggingface-hub
idna
InstructorEmbedding
Jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
MarkupSafe
marshmallow
multidict
mypy_extensions
numpy
openai
orjson
packaging
pandas
pillow
propcache
protobuf
pyarrow
pydantic
pydantic-settings
pydantic_core
pydeck
PyPDF2
python-dateutil
python-dotenv
pytz
PyYAML
referencing
regex
requests
requests-toolbelt
rpds-py
safetensors
sentence-transformers
six
smmap
sniffio
SQLAlchemy
streamlit
tenacity
toml
tornado
tqdm
transformers
typing-inspect
typing-inspection
typing_extensions
tzdata
urllib3
yarl
zstandard
torch
